{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <span class="subheading">Manage your posts</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
 <h2>Basic Action</h2>
          <a href="/dashboard"><button class="btn btn-primary">Dashboard Home</button></a>
           <a href="/logout"><button class="btn btn-primary">Logout</button></a>
          <hr>
          <h2>Add/Edit Posts</h2>
           <hr>
           <form name="sentMessage" id="contactForm" action="/edit/{{sno}}" method="post" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" name="title" value="{{post.title}}" id="name" required data-validation-required-message="Please enter Title.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Tagline</label>
              <input type="text" class="form-control" placeholder="Tagline" name="tline" value="{{post.tagline}}" id="tline" required data-validation-required-message="Please enter Tagline.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>slug</label>
              <input type="text" class="form-control" placeholder="slug" name="slug" value="{{post.slug}}" id="slug" required data-validation-required-message="Please enter slug.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="5" class="form-control" placeholder="content" name="content" value="{{post.content}}"  id="content" required data-validation-required-message="Please enter content."></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
               <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Image file</label>
                <input rows="5" class="form-control" placeholder="Image file name" value="{{post.img_file}}"
                       name="img_file" id="img_file" />
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
        </form>



        <!-- Pager -->
      </div>
    </div>
  </div>
{% endblock %}
