
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>{{params['blog_name']}}.Admin Panel</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" action="/dashboard" method="post">
      {% set fname = 'img/' + params['logo-image'] %}
      <img class="mb-4" src="{{ url_for('static', filename=fname) }}" alt="" width="100" height="100">
      <h1 class="h3 mb-3 font-weight-normal">Admin Login</h1>
      <label for="uname" class="sr-only">Email address</label>
      <input type="text" name="uname" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
      <label for="pass" class="sr-only">Password</label>
      <input type="password" name="pass" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; {{params['blog_name']}} 2020-2021</p>
    </form>
  </body>

</html>
